@{
    Layout = "~/Views/Shared/_LayoutPowerBI.cshtml";
}

<div class="container h-100 position-absolute">
    <iframe title="teste1db" width="96%" height="86%" src="https://app.powerbi.com/view?r=eyJrIjoiNjVjNjliMWItOGM3Mi00OGVmLThiOTctZTAyNTgwM2MxY2NkIiwidCI6IjExZGJiZmUyLTg5YjgtNDU0OS1iZTEwLWNlYzM2NGU1OTU1MSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</div>

