@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="gradient-overlay"></div>
            <div class="brand-wrapper top-bee">
                <a class="btn-logo-bee-login" asp-controller="Home" asp-action="Index"><i class="bi bi-android"></i> Bee</a>
            </div>
            <div class="intro-content-wrapper top-bee">
                <h1 class="intro-title">Esqueceu sua senha?</h1>
                <p class="intro-text">
                    Não tem problema! Por favor, digite seu email para que possamos ajudar!
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-section top-bee">
            <div class="login-wrapper">
                <h1 class="text-bee-darkblue fw-bold mb-5">Prontinho!</h1>
                <h5 class="mt-2 mb-5">
                    Por favor, verifique seu email para recuperar a senha.
                </h5>
                <div class="mt-4">
                    <a class="btn-primary" asp-controller="Home" asp-action="Index"><i class="bi bi-arrow-left"></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
