@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col-sm-6 col-md-7 intro-section">
            <div class="gradient-overlay"></div>
            <div class="brand-wrapper top-bee">
                <a class="btn-logo-bee-login" asp-controller="Home" asp-action="Index"><i class="bi bi-android"></i> Bee</a>
            </div>
            <div class="intro-content-wrapper top-bee">
                <h1 class="intro-title">Esqueceu sua senha?</h1>
                <p class="intro-text">
                    Não tem problema! Por favor, digite seu email para que possamos ajudar!
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-md-5 form-section top-bee">
            <div class="login-wrapper">
                <h1 class="text-bee-dark fw-bold mb-3">Recuperar senha</h1>
                <h5 class="mb-3 text-secondary">Insira seu email.</h5>
                <section class="mt-5">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.Email" class="form-control rounded" autocomplete="username" aria-required="true" placeholder="" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-bee-login">Redefinir Senha</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
