@{
    ViewData["Title"] = "Confimação";
}

<div class="container mt-3">
    <h1 class="fw-bold display-2 text-bee-dark mb-3">Arquivo enviado.</h1>
    <a class="top-0 mt-4 start-0 d-flex align-items-center gap-1 text-bee-purple fs-5 text-decoration-none" asp-action="Index">
        <i class="bi bi-arrow-left-short fs-3"></i>Voltar
    </a>
</div>