@model Bee.Models.Event

@{
    ViewData["Title"] = "Editar";
}

<div class="d-flex justify-content-between align-items-center position-relative pb-4">
    <div class="col-md-5 d-flex flex-column justify-content-evenly ">
        <a class="top-0 mt-2 start-0 d-flex align-items-center gap-1 text-bee-purple fs-5 text-decoration-none" asp-action="Index">
            <i class="bi bi-arrow-left-short fs-3"></i>Voltar
        </a>
        <h1 class="mb-3 text-bee-purple fw-bold">Editar Evento</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="nome" />
                <label asp-for="Name" class="form-label text-secondary"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="EventTypeId" class="form-control" placeholder="nome" />
                <label asp-for="EventTypeId" class="form-label text-secondary"></label>
                <span asp-validation-for="EventTypeId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="CompanyId" class="form-control" placeholder="nome" />
                <label asp-for="CompanyId" class="form-label text-secondary"></label>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="FranchiseId" class="form-control" placeholder="nome" />
                <label asp-for="FranchiseId" class="form-label text-secondary"></label>
                <span asp-validation-for="FranchiseId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="StartDate" class="form-control" placeholder="nome" />
                <label asp-for="StartDate" class="form-label text-secondary"></label>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="EndDate" class="form-control" placeholder="nome" />
                <label asp-for="EndDate" class="form-label text-secondary"></label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Objective" class="form-control" placeholder="nome" />
                <label asp-for="Objective" class="form-label text-secondary"></label>
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Status" class="form-control" placeholder="nome" />
                <label asp-for="Status" class="form-label text-secondary"></label>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Format" class="form-control" placeholder="nome" />
                <label asp-for="Format" class="form-label text-secondary"></label>
                <span asp-validation-for="Format" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="City" class="form-control" placeholder="nome" />
                <label asp-for="City" class="form-label text-secondary"></label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Localization" class="form-control" placeholder="nome" />
                <label asp-for="Localization" class="form-label text-secondary"></label>
                <span asp-validation-for="Localization" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Budget" class="form-control" placeholder="nome" />
                <label asp-for="Budget" class="form-label text-secondary"></label>
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group pb-5">
                <input type="submit" value="Salvar" class="btn btn-lg btn-bee-crud w-100 fw-bold" />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <img class=" w-100" src="~/img/artSq.jpg" alt="Arte decorativa" />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
